p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.field-error {
  position: absolute;
  color: #EF1733;
  bottom: -1rem;
  left: 0;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}
